* {
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
  justify-content: center;
}

.item {
  display: flex;
 }

#addReplyForm {
    margin-bottom: 20px; /* 하단 여백 조정 */
}

/* 댓글 입력 폼 내부 요소의 스타일 */
#addReplyForm .form-group {
    margin-bottom: 10px; /* 각 입력 요소의 하단 여백 조정 */
}

#addReplyForm textarea {
    height: 100px; /* 텍스트 입력 영역의 높이 조정 */
}

.btn-modify-delete {
  margin-top: 7px;
  padding: 6px 13px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 13px;
  color: gray;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-modify-delete:hover {
  background-color: #e3e3e3;
}

.main {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.comment-form {
    width: 100%; 
    margin: 0 auto; 
    padding: 20px; 
    padding-bottom: 47px;
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 8px;
}

label {
    display:block; 
    margin-bottom: 30px; 
}
input[type="text"],
textarea {
    width: 100%; 
    padding: 8px; 
    border: 1px solid #ccc; 
}
.form-group {
	margin-bottom: 1px;
    
}
.post-content {
    font-size: 16px;
    line-height: 1.5;
}
.form-text1 {
  width: 100%;
  height: 200px; 
}
.form-text {
	width: 100%;
}
.form-group.row {
  display: flex;
  flex-direction: column;
}

.button-container {
  position: relative; 
  width: 100%;
  margin-top : auto;
  display: flex;
  align-items: center;
  margin-right: 5px;
  display: flex;
  justify-content: flex-end;
}

.custom-button {
  display: flex;
  padding: 8px 13px;
  margin-bottom: -59px;
  margin-left: 3px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #0090F9;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-container .custom-button:not(:last-child) {
  border-bottom: none; 
}

.custom-button:hover {
  background-color: #0174DF;
}

.next {
	border: 1px solid #D8D8D8; 
	border-radius: 8px;
	padding: 8px;
	border-radius: 6px;
	padding: 7px;
	padding-left: 15px;
	padding-right: 15px;
	transition: background-color 0.2s ease;
}

.next:hover {
  background-color: #ddd;
}

/* 모달 창 내의 삭제 버튼 색상 변경 */
.modal-content .btn-danger {
    background-color: #0090F9;
    border-color: #0090F9; /* 선택사항: 버튼 주변의 테두리 색상 변경 */
}

.search-align {
	float: left;
}

.search-box {
	display: inline-block;
	height: 38px;
	width: 190px;
	background: white;
	border-radius: 40px;
	padding: 10px;
	border: 1px solid #D8D8D8;
	margin: 0;
    position: relative;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0px;
	color: #797979;
	font-size: 11px;
	text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	width: 200px;
}

.search-btn {
  width: 20px;
  height: auto;
  margin-right: 5px;
  float: right;
  position: relative;
  top: -50%;
  transform: translateY(-50%);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  margin-top: 16px;
  margin-bottom: 0px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #0090F9;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.container {
	width: 70%;
	margin :0 auto;
}
* {
  margin:0;
}


.square-box {
  position: relative;
  width: 1290px;
  max-width: 100%;
  height: 100px;
  margin-bottom: 10px;
  background-image: url('../../imgs/top-banner.jpg');
  border-radius: 15px; 
  display: flex;
  align-items: center;
  padding: 0 32px;
  text-decoration: none; 
  overflow: visible;
}

.r-icon {
    position: absolute;
    right: 115px;
    top: 2.3px;
    transform: scale(1.87);
}

.main-text {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  line-height: 1px;
  margin-top: 13px;
  padding-bottom: 20px; 
}

.sub-text {
  font-size: 14px;
  margin-top: 47px; 
  margin-left: 10px; 
}