@charset "UTF-8";
/*lunch board*/
* {
  box-sizing: border-box;
}

.container {
    width: 65%;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .container {
    width: calc(100% - 20px);
    margin: 0 10px;
  }
}

.gallery-item-box-col-321 {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       only screen and (max-width: 700px) {
  .gallery-item-box-col-321 {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .gallery-item-box-col-321 {                                                                                                                                                                 
    width: 100%;
  }
}

div.gallery-item-img {
  width: 100%;
  min-height: 100px;
}

div.gallery-item-img img {
  width: 100%;
  height: auto;
  min-height: 180px;
  max-height: 180px; 
}


div.gallery-title {
  padding: 5px;
  margin-left: 6px;
  text-align: left;
  font-size: 17px;
  max-height: 2em; 
  overflow: hidden;
  text-overflow: ellipsis;
}

div.gallery-date {
  margin-left: 13px;
  text-align: left;
  font-size: 13px;
  line-height: 10px;
}

div.gallery-name {
  margin-left: 13px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 13px;
  line-height: 28px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*드롭다운*/
.dropbtn {
  background-color: #FFFFFF;
  padding: 5px 3px;
  font-size: 13px;
  color: #404040;
  text-align: center;
  border: 1px solid #D8D8D8;
  border-radius: 6px;
  cursor: pointer;
  height: 36px;
  width: 84px;
  display: block;
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.dropdown {
  margin-right: 5px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #666666;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1; border-radius: 15px;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #FFFFFF;
}

.dropbtn img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

/*페이지네이션*/
.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #0090F9;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/*검색버튼*/
.search-align {
	float: left;
}

.search-box {
	display: inline-block;
	height: 40px;
	width: 250px;
	background: white;
	border-radius: 40px;
	padding: 10px;
	border: 1px solid #D8D8D8;
	margin: 0;
    position: relative;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0px;
	color: #797979;
	font-size: 14px;
	text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	width: 200px;
}

.search-btn {
  width: 20px;
  height: auto;
  margin-top: 18px;
  margin-right: 5px;
  float: right;
  position: relative;
  top: -50%;
  transform: translateY(-50%);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/*상단베너*/
* {
  margin:0;
}

.square-box {
  position: relative;
  width: 1290px;
  max-width: 100%;
  height: 100px;
  margin-bottom: 10px;
  background-image: url('../../imgs/topBanner.jpg');
  border-radius: 15px; 
  display: flex;
  align-items: center;
  padding: 0 32px;
  text-decoration: none; 
}

.r-icon {
  position: absolute;
  right: 75px; 
  top: -20px;
}

.main-text {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  line-height: 1px;
  margin-top: 13px;
  padding-bottom: 20px; 
}

.sub-text {
  font-size: 14px;
  margin-top: 47px;
  margin-left: 10px;
}

/*글작성버튼*/
.button-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.custom-button {
  display: flex;
  align-items: center;
  padding: 8px 13px;
  margin-bottom: -59px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #0090F9;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-container .custom-button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.button-container .custom-button:hover {
  background-color: #0174DF;
}

.custom-button img {
  width: 15px;
  height: auto;
  margin-right: 5px;
}