
/* 폰트 설정 */
* {
  font-family: "Noto Sans KR", sans-serif;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .login-box .card-body {
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치합니다. */
  	align-items: center; /* 요소들을 수직 중앙으로 정렬합니다. */
  }
  
  .login-button {
    flex-shrink: 0; /* 로그인 버튼이 가로로 확장되지 않도록 설정합니다. */
  }
  .card-body{
  	overflow: hidden;
  }
}


/* 배너, 로그인 스타일링 */
.banner {
  flex-grow: 2; /* 배너의 너비를 부모 요소의 2배로 설정합니다. */
}

.login-box {
  flex-grow: 1; /* 로그인 창의 너비를 부모 요소의 1배로 설정합니다. */
  text-align: center;
}

.carousel-item img {
  width: 100%; /* 부모 요소의 너비에 맞게 이미지 크기를 조절합니다. */
}

.login-box .card-body {
  padding: 21px 20px 18px 20px; /* 상, 우, 하, 좌 패딩 설정 */
}

/* 로그인 버튼에 대한 스타일 */
.login-button {
  color: white; /* 로그인 버튼의 텍스트 색상을 흰색으로 설정합니다. */
  width: 300px;
  margin-top: 13px;
  margin-bottom: 16px;
}

/* 나머지 링크에 대한 스타일 */
.card-text a {
  color: black; /* 나머지 링크의 텍스트 색상을 검정색으로 설정합니다. */
  text-decoration: none; /* 링크의 밑줄을 제거합니다. */
}

/* 마지막 링크의 마진을 제거하여 간격을 조절합니다. */
.card-text a:last-child {
  margin-right: 0;
}

/* 클릭 시 밑줄 생성 */
.card-text a:hover {
  text-decoration: underline;
}

/* 배너와 로그인 스타일링 */
.banner-login-container {
  display: flex;
  justify-content: space-between; /* 배너와 로그인 창을 양쪽 끝으로 정렬합니다. */
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* board-preview css */

.board-preview .w-full {
  width: 100%;
}

.board-preview ul li {
  text-align: left;
  border-bottom: 1px solid #D1D5DB; /* 연한 회색 밑줄 */
  list-style-type: none;
  padding: 10px;
}

ul {
	padding-right: 32px;
}

/* 추가된 스타일 */
.container {
  width: 65%;
  margin: 0 auto;
}

* {
  margin: 0;
}

.main-square-box {
  position: relative;
  width: 100%; /* 스퀘어 박스를 부모 요소의 너비에 맞춥니다. */
  height: 64px;
  background-image: url('../../imgs/topBanner.jpg');
  border-radius: 15px;
  display: flex;
  align-items: center;
  /*padding: 0 32px;  좌우 패딩 32px씩 추가 */
  text-decoration: none; /* 텍스트에 밑줄을 제거합니다. */
}

/* 이미지를 오른쪽으로 밀어줍니다. */
.r-icon {
  position: absolute; /* 이미지를 위치하기 위해 절대 위치 지정 */
  padding-right: 35px;
  right: 0; /* 오른쪽에 위치 */
  top: -4px;
}

.main-text span {
  text-decoration: none;
  color: black; 
}

/* 스퀘어박스에 마우스를 가져다 대면 텍스트의 색상 -> 파란색 */
.main-square-box:hover .main-text span {
  color: #0090f9; /* 텍스트의 색상을 파란색으로 변경 */
}

.main-text {
  font-size: 18px;
  font-weight: 550;
  padding-top: 19px; /* 텍스트 상단 여백을 조정하여 텍스트가 정확히 상하 중앙에 위치하도록 합니다. */
  padding-bottom: 19px; /* 텍스트 하단 여백을 조정하여 텍스트가 정확히 상하 중앙에 위치하도록 합니다. */
  padding-left: 35px;
  line-height: 1;
  color: black;
}

li > a {
	text-decoration: none;
	color: black;
}

li > a:hover {
	color: #0090f9;
}

.title {
overflow: hidden; 
text-overflow: ellipsis; 
white-space: nowrap; 
display: block;
}

/* 미디어 쿼리: 화면 너비가 768px 이하일 때 */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .banner, .login-box {
    width: 100%;
  }

  .banner-login-container {
    margin-top: 18px;
  }
  

}
