* {
  font-family: "Noto Sans KR", sans-serif;
}


.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;

}




body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.content {
  display: flex;
  flex-direction: column;
}

.user {
  font-size: small;
}

.title {
  font-size: large;
}

hr {
    width: 100%;
}

label {
    display:block; /* 라벨을 블록 요소로 표시하여 텍스트 위에/아래에 배치합니다. */
    margin-bottom: 30px; /* 라벨 아래의 간격을 조절합니다. */
}


input[type="text"],
textarea {
    width: 100%; /* 텍스트 입력과 텍스트 영역의 너비를 100%로 설정하여 폼을 꽉 채우도록 합니다. */
    padding: 8px; /* 내부 여백을 추가하여 입력란을 편안하게 만듭니다. */
        border: 1px solid #ccc;
    box-sizing: border-box; /* 너비와 패딩을 포함하여 상자 크기를 계산합니다. */
}

.comment-form {
    width: 100%; /* 최대 너비를 조절합니다. */
    margin: 0 auto; /* 가운데 정렬합니다. */
    padding: 20px; /* 내부 여백을 추가합니다. */
    background-color: #f9f9f9; /* 배경색을 설정합니다. */
    border: 1px solid #ddd; /* 테두리를 추가합니다. */
    border-radius: 8px;
}

.form-group {
	margin-bottom: 1px;
    
}
.post-content {
    font-size: 16px;
    line-height: 1.5;
}
.form-text1 {
  width: 100%; /* 입력 상자의 너비를 부모 요소에 맞게 확장 */
  height: 200px; /* 텍스트 영역의 높이를 200px로 설정 */
  display: flex;
  justify-content: center;
}
.form-text {
	width: 100%;
	display: flex;
  justify-content: center;
}
.form-group.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-sm-2 {
  padding-top: 5px; /* 레이블 위쪽 여백 조정 */
}

.col-sm-10 {
  padding-bottom: 7px; /* 입력 상자 아래쪽 여백 조정 */
}

.button-container {
  position: relative; /* 부모 요소에 대해 상대적으로 위치시킵니다. */
  width: 100%;
  margin-top : auto;
    display: flex;
  align-items: center;
  margin-right: 5px;
}

.custom-button {
  display: flex;
  align-items: center;
  padding: 8px 13px;
  margin-bottom: -59px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #0090F9;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}



.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 13px;
  border: 2px solid;
  border-radius: 8px;
  background-color: #0090F9;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-left: auto;
  position: absolute; /* 부모 요소에 대해 상대적으로 위치시킵니다. */
  bottom: 0px; /* 부모 요소의 하단으로부터 10px 떨어진 위치에 배치합니다. */
  right: 0px; /* 부모 요소의 오른쪽으로부터 10px 떨어진 위치에 배치합니다. */
}
}

.button-container .custom-button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.button-container .custom-button:hover {
  background-color: #0174DF;
}

.custom-button img {
  width: 15px;
  height: auto;
  margin-right: 5px;
}