<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>DOKKY</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
	<listener>
		<listener-class>jdbc.DBCPInitListener</listener-class>
	</listener>

	<context-param>
		<param-name>poolConfig</param-name>
		<param-value>
			jdbcdriver=oracle.jdbc.driver.OracleDriver
			jdbcUrl=jdbc:oracle:thin:@localhost:1521:xe
			dbUser=DOKKY
			dbPass=1234
			validationQuery=select 1 from dual
			minIdle=3
			maxTotal=30
			poolName=dkPool
		</param-value>
	</context-param>
	
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>util.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 로그인 검사 필터(사용시 주석을 지우고 <url-pattern> 태그 안에 작성)-->
	<filter>
		<filter-name>LoginCheckFilter</filter-name>
		<filter-class>filter.LoginCheckFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>LoginCheckFilter</filter-name>
		<url-pattern>/study/modify.do</url-pattern>
		<url-pattern>/study/write.do</url-pattern>
		<url-pattern>/qna/qnaWrite.do</url-pattern>
		<url-pattern>/community/write.do</url-pattern>
		<url-pattern>/community/modify.do</url-pattern>
		<url-pattern>/community/delete.do</url-pattern>
		<url-pattern>/lunch/write.do</url-pattern>
		<url-pattern>/lunch/modify.do</url-pattern>
		<url-pattern>/lunch/delete.do</url-pattern>
		<url-pattern>/myPage.do</url-pattern>
	</filter-mapping>
	
	
	<filter>
		<filter-name>AdminCheckFilter</filter-name>
		<filter-class>filter.AdminCheckFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>AdminCheckFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>ControllerUsingURI</servlet-name>
		<servlet-class>mvc.controller.ControllerUsingURI</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>
				/WEB-INF/commandHandlerURI.properties
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<multipart-config>
	        <location>/tmp/</location> <!-- 업로드된 파일을 임시로 저장할 디렉토리 경로 -->
	        <max-file-size>20848820</max-file-size> <!-- 최대 파일 크기 설정 (바이트 단위) -->
	        <max-request-size>418018841</max-request-size> <!-- 최대 요청 크기 설정 (바이트 단위) -->
	        <file-size-threshold>1048576</file-size-threshold> <!-- 파일이 임시 디렉토리에 저장되는 최소 크기 (바이트 단위) -->
	    </multipart-config>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ControllerUsingURI</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>ReplyHandler</servlet-name>
    	<servlet-class>reply.command.ReplyHandler</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>ReplyHandler</servlet-name>
    	<url-pattern>/reply/command/*</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/view/errorPage/404Page.jsp</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/view/errorPage/403Page.jsp</location>
	</error-page>

</web-app>